@import "../../scss-var/variables";

// $menu-height: calc(100vh - #{$header-height});
$menu-height: calc(100vh);

.left-menu {
    width: $left-menu-width;
    min-height: $menu-height;
    max-height: $menu-height;
    overflow-y: auto;
    background: blue;
    position: fixed;
    z-index: 2;
}